.home {
    position: relative;
    width: 100vw;
    height: 100vh;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../assets/images/background.png);
    background-size: 100% 100%;

    @media only screen and (min-width: 768px) {
      height: 750px;
      width: 385px;
    }

    .title {
      position: absolute;
      top: 10%;
      left: 19%;
      width: 226px;
      height: 150px;
      background-image: url(../assets/images/title.png);
      background-size: cover;
    }

		.charChooser {
      position: absolute;
      top: 34%;
      left: 33%;
      width: 150px;
      height: 230px;
		}


    .playButton {
      position: absolute;
      top: 70%;
      left: 19%;
      width: 226px;
      height: 62px;
      background-image: url(../assets/images/startButton.png);
      background-size: cover;
    }

    .soundButton {
      position: absolute;
      top: 82%;
      left: 44%;
      width: 50px;
      height: 50px;
      background-image: url(../assets/images/sound.png);
      background-size: cover;
    }

    .rightArrow {
      position: absolute;
      top: 48%;
      right: 16%;
      width: 50px;
      height: 50px;
      background-image: url(../assets/images/rightArrow.png);
      background-size: cover;
    }

    .leftArrow {
      position: absolute;
      top: 48%;
      left: 15%;
      width: 50px;
      height: 50px;
      background-image: url(../assets/images/leftArrow.png);
      background-size: cover;
    }


}
