$color-white: #fff;
$color-black: #000;
$color-jaffa: #7A8B8B; //#f49032;
$color-christine: #f07b0d;
$color-tuna: #e0eeee; //#323145;
$color-gunpowder: #403e57;
$color-keppel: #42b88d;
$color-ocean-green: #379a76;
$color-hot-pink: #ff619f;
$color-wild-sand: #f5f5f5;
$color-mercury: #e8e8e8;
$color-baltic-sea: #26222c;
$color-dusty-gray: #9b9b9b;
$color-alto: #e0e0e0;
$color-seashell: #f1f1f1;
$color-mine-shaft: #2e2e2e;
$color-dove-gray: #707070;
$color-gray: #878787;
$color-silver: #c1c1c1;
$color-apple-blossom: #a94442;
